<div>
  <div class="mt-5">
    <div>
      <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar, class: "h-auto max-w-xl rounded-lg shadow-xl dark:shadow-gray-800") %>
      <% else %>
        <%= image_tag('image-2@2x.jpg', class: "h-auto max-w-xl rounded-lg shadow-xl dark:shadow-gray-800") %>
      <% end %>
    </div>
    <div class="mt-5">
      <ul>
        <li>
          <strong>Full Name</strong> <%= @user.username %>
        </li>
        <li>
          <strong>Role</strong> <%= @user.role %>
        </li>
        <li>
          <strong>Email</strong> <%= @user.email %>
        </li>
        <li>
          <strong>Phone</strong> <%= @user.phone %>
        </li>
        <li>
          <strong>Birthday</strong> <%= @user.birthday %>
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-5">
    <% if @user.id == current_user.id %>
      <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none
      bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4
      focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
      dark:hover:text-white dark:hover:bg-gray-700">Messages</button>

      <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none
      bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4
      focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
      dark:hover:text-white dark:hover:bg-gray-700">Calendar</button>

      <% if @user.role == 'Doctor' %>
        <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none
        bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4
        focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
        dark:hover:text-white dark:hover:bg-gray-700">Patients</button>
      <% else %>
        <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none
        bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4
        focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
        dark:hover:text-white dark:hover:bg-gray-700">Doctor</button>

        <%= link_to 'Medical Card', profile_medical_card_path , class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none
        bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4
        focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
        dark:hover:text-white dark:hover:bg-gray-700" %>
      <% end %>

     <%= link_to 'Settings', edit_user_path(@user.id), class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none
      bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4
      focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
      dark:hover:text-white dark:hover:bg-gray-700" %>
    <% else %>
      <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none
      bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4
      focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
      dark:hover:text-white dark:hover:bg-gray-700">Messages</button>

      <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none
      bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4
      focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
      dark:hover:text-white dark:hover:bg-gray-700">Calendar</button>

      <% unless @user.role == 'Doctor' %>
        <%= link_to 'Medical Card', medical_card_path(@user.medical_card.id) , class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none
        bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4
        focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
        dark:hover:text-white dark:hover:bg-gray-700" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="mt-5">
  <% if @user.role == 'Doctor' && @user.clinic %>
    <%= js_map [{latitude: @user.clinic.latitude,
                 longitude: @user.clinic.longitude,
                 label: @user.clinic.label,
                 tooltip: @user.clinic.tooltip}], style: "mapbox://styles/mapbox/outdoors-v12",
                 controls: true%>
  <% end %>
</div>
