<div>
  <div class="mt-5">
    <div>
      <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar, class: "h-auto max-w-xl rounded-lg shadow-xl dark:shadow-gray-800") %>
      <% else %>
        <%= image_tag('image-2@2x.jpg', class: "h-auto max-w-xl rounded-lg shadow-xl dark:shadow-gray-800") %>
      <% end %>
    </div>
    <div class="mt-5">
      <ul>
        <li>
          <strong>Full Name</strong> <%= @user.username %>
        </li>
        <li>
          <strong>Role</strong> <%= @user.role %>
        </li>
        <li>
          <strong>Email</strong> <%= @user.email %>
        </li>
        <li>
          <strong>Phone</strong> <%= @user.phone %>
        </li>
        <li>
          <strong>Birthday</strong> <%= @user.birthday %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="mt-5">
  <% if @user.role == 'Doctor' && @user.clinic %>
    <%= js_map [{latitude: @user.clinic.latitude,
                 longitude: @user.clinic.longitude,
                 label: @user.clinic.label,
                 tooltip: @user.clinic.tooltip}], style: "mapbox://styles/mapbox/outdoors-v12",
                 controls: true%>
  <% end %>
</div>
