<table class="min-w-max w-full table-auto">
  <thead>
  <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
    <th class="py-3 px-6 text-left">#</th>
    <th class="py-3 px-6 text-left">User</th>
    <th class="py-3 px-6 text-center">Email</th>
    <th class="py-3 px-6 text-center">Role</th>
    <th class="py-3 px-6 text-center">Actions</th>
  </tr>
  </thead>
  <tbody class="text-gray-600 text-sm font-light">
    <% users.each do |user| %>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="py-3 px-6 text-left whitespace-nowrap">
          <div class="flex items-center">
            <span class="font-medium"><%= user.id %></span>
          </div>
        </td>
        <td class="py-3 px-6 text-left">
          <div class="flex items-center">
            <div class="mr-2">
              <% if user.avatar.attached? %>
                <%= image_tag(user.avatar, class: "w-6 h-6 rounded-full") %>
              <% else %>
                <img class="w-6 h-6 rounded-full" src="https://randomuser.me/api/portraits/men/1.jpg"/>
              <% end %>
            </div>
            <span><%= user.username %></span>
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex items-center justify-center">
            <%= user.email %>
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <% if user.role == 'Patient' %>
            <span class="bg-blue-200 text-blue-600 py-1 px-3 rounded-full text-xs"><%= user.role %></span>
          <% else %>
            <span class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs"><%= user.role %></span>
          <% end %>
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex item-center justify-center">
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <%= link_to clinic_user_path(clinic_id: current_user.clinic.id, id: user.id) do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
              <% end %>
            </div>
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

